* {
  margin: 0;
  padding: 0;
}
.page {
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  height: 100vh;
  position: relative;
}
.countdown-col {
  background: url('../image/bg3.jpeg') no-repeat center;
  background-size: cover;
}
.time {
  color: #fff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 90%;
}
.time span {
  padding: 0 14px;
  font-size: 10px;
}
.time span div {
  font-size: 40px;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.newsletter {
  width: 90%;
}
.newsletter h4 {
  font-style: italic;
  font-size: 12px;
}
.newsletter input {
  display: block;
  margin: 12px auto;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}
.newsletter-btn {
  background: linear-gradient(125deg, #3498db, #34495e);
  color: #fff;
  cursor: pointer;
  transition: .4s;
}
.newsletter-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .col {
    flex: 100%;
  }
}